.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  transition-duration: 0.8s;
  font-size: 2rem;
}

.container a {
  transition-duration: 0.8s;
  transition-timing-function: ease;
  &:hover {
    font-size: 2.2rem;
  }
}
